@font-face {
    src: url('HappyMonkey-Regular.ttf');
    font-family: HappyMonkey;
}

* {
    margin: 0;
    padding: 0;
}

body {
    --pg-padding: 20px;
    padding: var(--pg-padding);
}

.container {
    --ctnr-width: calc(100vw - 2 * var(--pg-padding));
    --ctnr-height: calc(0.6 * var(--ctnr-width));

    position: relative;
    width: var(--ctnr-width);
    height: var(--ctnr-height);
}

.block {
    --blk-width: 40%;
    --blk-height: 72%;
    --blk-pad-lt-rt: calc(0.021 * var(--blk-width));
    --blk-pad-top-btm: calc(0.038 * var(--blk-height));

    box-sizing: border-box;
    width: var(--blk-width);
    height: var(--blk-height);
    padding: var(--blk-pad-top-btm) var(--blk-pad-lt-rt);

    display: flex;
    justify-content: space-between;
}

.left, .right, .center {
    position: absolute;
    background-size: cover;
}

.left, .right {
    top: 0;
    z-index: 0;
}

.left {
    background-image: url(./img/bg/left.jpg);
    left: 0;
}

.right {
    background-image: url(./img/bg/right.jpg);
    right: 0;
}

.center {
    background-image: url(./img/bg/center.jpg);
    left: calc((100% - var(--blk-width)) / 2);
    bottom: 0;
    z-index: 1;
}

.leftblock {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 46%;
}

.main-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0.6vw solid #fff;
}

.titled-img {
    height: 92%;
}

.img-title {
    font-size: 0.8vw;
    font-weight: bold;
    font-family: HappyMonkey;
    color: #c2bcc0;
}

.left .main-img, .left .row-img {
    border-color: #d8d5d5;
    border-style: solid;
}

.right .main-img, .right .column-img {
    border-color: #c6c6f5;
    border-style: solid;
}

.menu {
    width: 100%;
    height: 48%;
    background-color: #fff;
}

.tab-container-frame {
    box-sizing: border-box;
    width: 100%;
    height: 13%;
    border-width: 0.2vw 0.2vw 0 0.2vw;
    border-color: #fff;
    border-style: solid;
}

.tab-container {
    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 100%;
    background-color: #e1e0de
}

.center .tab-container {
    background-color: #77beda;
    border-radius: 3px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 29%;
    height: 92%;
    margin: 0 0.7%;
    background-color: #f8f7f8;
    cursor: pointer;
}

.center .tab {
    background-color: #2e95be;
    border-radius: 4px 4px 0 0;
}

.tab-text {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    color: #6083ad;
}

.tab:hover .tab-text {
    color: #311a85;
}

.cur-tab:hover .tab-text {
    color: #991818;
}

.center .tab:hover {
    background-color: #1c0b7e;
}

.center .cur-tab:hover {
    background-color: #168316;
}

.center .tab:hover .tab-text {
    font-weight: normal;
    color: #fff;
}

.center .tab-text {
    font-weight: normal;
    color: #fff;
}

.cur-tab {
    background-color: #fff;
}

.center .cur-tab {
    background-color: #7ab33e;
}

.cur-tab .tab-text {
    color: #bd6a94;
}

.center .cur-tab .tab-text {
    color: #fff;
}

.tab-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 87%;
    padding: 7% 5%;
}

.info-container {
    width: 100%;
}

.img-container {
    box-sizing: border-box;
    border: 0.3vw solid #c0c0c0;
    float: left;
    width: 56%;
    height: 61%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.center .img-container {
    border-color: #ffd700;
}

.info-img {
    width: 100%;
    height: 100%;
}

.info-text {
    font-size: 0.7vw;
    font-family: sans-serif;
}

.info-link {
    font-size: 0.7vw;
    font-family: sans-serif;
    color: #456fa3;
    font-weight: bold;
}

.rightblock {
    width: 28%;
}

.column, .rows {
    display: flex;
}

.rows {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.row-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 5.5vw;
    margin-bottom: 1vw;
}

.row-img {
    box-sizing: border-box;
    border-width: 0.2vw;
    width: 100%;
    height: 86%;
}

.rightblock .img-title {
    font-size: 0.7vw;
}

.column {
    flex-direction: column;
}

.column-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.3vw;
    margin-bottom: 1.3vw;
}

.column-img {
    box-sizing: border-box;
    border-width: 0.25vw;
    width: 100%;
    height: 80%;
}
